/.vs/
/.idea/
/.vscode/
/.direnv/
/.xwin-cache/
/.cache/
*.user
*.suo
*.userosscache
*.sln.docstates
*.aps
*.log

# CMake build files
/build/

# Build capture noise
/build_out*.txt

# python bytecode
__pycache__/
*.pyc
